body {
    background: url("./images/background.gif") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#board {
    width: 450px;
    height: 450px;
    background-color: lightblue;
    border: 5px solid slategray;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 50px;
    height: 50px;
}

#score {
    background: url("./images/scoreBackground.png")  ;
    width: 150px;
    height: 150px;
    background-color: lightblue;
    background-size: cover;
    border: 5px solid rgb(95, 19, 83);
    border-radius: 10px;
    margin: 0 auto;
    display:flex ;
    flex-wrap: wrap;
    align-content:center;
    text-align: end;
    justify-content: center;
    font-size: 40px;
    color: black;
}